table#world {
	width: 50%;
	height: 50%;
	border-collapse: collapse;
}

table#world tr td {
	/*
	width: 33.33%;
	position: relative;
	*/
	border: 1px solid black;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table#world tr td:after {
	content: '';
	display: block;
	margin-top: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table#world tr td .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: gold;
}

table#world tr td.obstacle {
	background-color: #7C7C7C;
}

table#world tr td.point {
	background-color: #9B0000;
}

table#world tr td.path {
	background-color: #89F9FF;
}