table.world {
	width: 90%;
	border-collapse: collapse;
}

table.world tr td {
	/*
	width: 33.33%;
	position: relative;
	*/
	border: 1px solid black;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.world tr td:after {
	content: '';
	display: block;
	margin-top: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.world tr td .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: gold;
}

table.world tr td.obstacle {
	
}

table.world tr td.start {
	
}

table.world tr td.goal {
	
}

table.world tr td.path {
	
}